<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-96x96">
          <% if customer.image.attached? %>
            <%= image_tag customer.image %>
          <% else %>
            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
          <% end %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= customer.full_name %></p>
        <p class="subtitle is-6"><%= customer.email %></p>
        <p class="subtitle is-6"><%= customer.phone_number %></p>
      </div>
    </div>

    <div class="content">
      <%= customer.notes %>
    </div>
  </div>
</div>
